<div class="form-group row">
  <%= f.label "Команда", class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:team_id, teams, {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="answers">
  <%= f.fields_for :answers do |answer| %>
    <%= render 'answer_fields', f: answer, teams: teams %>
  <% end %>
</div>
<br>
<p><%= link_to_add_association 'Додати відповідь', f, :answers, render_options: {locals: { teams: teams }}, class: 'btn btn-primary', data: { association_insertion_node: '.answers', association_insertion_method: :append } %></p>
<br>