<h2>
  Завдання "<strong><%= link_to @level.name, game_level_path(@game, @level) %></strong>"
</h2>

<p>
  <em>(гра "<%= link_to @game.name, game_path(@game) %>")</em>
</p>

<br>

<%= form_for @question, url: url_for(controller: 'questions', action: 'create_batch') do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <%= f.label "Команда", class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.select(:team_id, @teams, {}, { class: 'form-control form-control-sm' }) %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label 'Коди (для кожного сектора з нового рядка, для одного сектора декілька через ";")', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_area :answers_list, rows: 10, class: 'form-control form-control-sm' %>
    </div>
  </div>
  <%= f.submit 'Додати групу секторів', class: 'btn btn-light' %>
  <em><%= link_to "(відмінити)", game_level_path(@game, @level, anchor: "sectors-block") %></em>
<% end %>