<div id="LevelHintsContainer">
  <% hints_to_show.each_with_index do |hint, index| %>
    <div id="hint-<%= index + 1 %>">
      <fieldset>
        <legend>
          Підказка <%= index + 1 %> із <%= hints_to_show.count + upcoming_hints.count %>
        </legend>
        <%= hint.text.html_safe %>
      </fieldset>
    </div>
    <br>
  <% end %>

  <% upcoming_hints.each_with_index do |hint, index|  %>
    <div id="hint-<%= hints_to_show.count + index + 1 %>">
      <div id="<%= "LevelHintCountdownContainer#{hint.id}" %>" class="hint-timer">
        До підказки <%= hints_to_show.count + index + 1 %> лишилось <span id="<%= "LevelHintCountdownTimerText#{hint.id}" %>">3 хвилини</span>
      </div>
      <div id="<%= "LevelHintCountdownLoadIndicator#{hint.id}" %>" style="display: none;">Завантаження...</div>
      <script>
          LevelHintUpdater.setup({
              initialCountdownValue: <%= hint.available_in(begin_time) %>
              ,gameId: <%= game_passing.game_id %>, teamId: <%= team_id %>, hintId: <%= hint.id %>, hintNum: <%= index %>, levelId: <%= level.id %>
          })
      </script>
    </div>
    <br>
  <% end %>
</div>