Гра "<%= link_to @game.name, game_path(@game) %>"
<% if user_signed_in? && current_user.author_of?(@game) %>
  <br><br>
  <%= link_to 'Додати бонус/штраф', new_game_game_bonus_url(@game) %>
<% end %>

<% if @game.game_type == 'linear' || @game.game_type == 'selected' %>
  <table id="results" border="1">
    <thead>
      <tr>
        <th>Місце</th>
        <th>Команда</th>
        <th>Час старту</th>
        <th>Час фінішу</th>
        <th>Сума бонусів</th>
        <th>Час гри</th>
      </tr>
    </thead>
    <tbody>
      <% @game_passings.each_with_index do |game_passing, index| %>
        <% unless !@game.author_finished? && game_passing[:finished_at].nil? %>
          <tr>
            <td><%= game_passing[:finished_at].nil? ? '-' : (index + 1) %></td>
            <td><%= game_passing[:team_name] %></td>
            <td><%= @game.starts_at.strftime('%H:%M:%S') + ' ' + @game.starts_at.strftime('(%d.%m)') %></td>
            <td>
              <% if game_passing[:exited] %>
                <b>Зійшли з дистанції</b>(<%= game_passing[:finished_at].strftime('%H:%M:%S.%L') %><%= ' ' + game_passing[:finished_at].strftime('(%d.%m)') if game_passing[:finished_at].day != @game.starts_at.day %>)
              <% elsif game_passing[:finished_at].nil? %>
                <b>Не фінішували</b>
              <% else %>
                <%= game_passing[:finished_at].strftime('%H:%M:%S.%L') %> <%= game_passing[:finished_at].strftime('(%d.%m)') if game_passing[:finished_at].day != @game.starts_at.day %>
              <% end %>
            </td>
            <td><%= link_to seconds_to_string((game_passing[:sum_bonuses] || 0)), game_game_bonuses_path(@game, team_id: game_passing[:team_id]) %></td>
            <td><%= game_passing[:finished_at].nil? ? '-' : Time.at(game_passing[:finished_at] - @game.starts_at - game_passing[:sum_bonuses]).utc.strftime("%H:%M:%S.%L") %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table id="results" border="1">
    <thead>
      <tr>
        <th>Місце</th>
        <th>Команда</th>
        <th>Час фінішу</th>
        <th>Пройдено рівнів</th>
        <th>Сума бонусів</th>
        <th>Час гри</th>
      </tr>
    </thead>
    <tbody>
      <% @game_passings.each_with_index do |game_passing, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= game_passing[:team_name] %></td>
            <td>
              <%= game_passing[:finished_at].strftime('%H:%M:%S.%L') %> <%= game_passing[:finished_at].strftime('(%d.%m)') if game_passing[:finished_at].day != @game.starts_at.day %>
            </td>
            <td><%= game_passing[:closed_levels] %></td>
            <td><%= link_to seconds_to_string(game_passing[:sum_bonuses]), game_game_bonuses_path(@game, team_id: game_passing[:team_id]) %></td>
            <td><%= Time.at(game_passing[:finished_at] - game_passing[:sum_bonuses]).utc.strftime("%H:%M:%S.%L") %> </td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<br>

<% if @game.is_testing? %>
  <br>
  <%= link_to "Завершити тестування", finish_test_game_path(@game), method: :post if user_signed_in? && current_user.author_of?(@game) %>
<% end %>