<h2>
  Поточна назва команди "<strong><%= @team.name %></strong>"
</h2>

<%= form_for @team, url: team_path(@team) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <%= f.label 'Нова назва команди', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </div>
  </div>
  <%= f.submit "Зберегти зміни", class: 'btn btn-light' %>
  <em><%= link_to "(відмінити)", team_path(current_user.team) %></em>
<% end %>


<br>

<fieldset>
  <legend>
    Склад
  </legend>

  <% @team.members.each do |member| %>
    <p>
      <%= member.nickname %> <%= "- капітан" if member.captain? %>
      <% if current_user.captain? && !member.captain? %>
        <em><%= link_to "(вилучити гравця)", url_for("/teams/edit/delete_member?member_id=#{member.id}"), method: :post %></em>
        <em><%= link_to "(призначити капітаном)", url_for("/teams/edit/captain?member_id=#{member.id}"), method: :post %></em>
      <% end %>
    </p>
  <% end %>
</fieldset>