Команда <%= @team.name %> <br>
<br>

<fieldset>
  <legend>
    Склад
  </legend>

  <% @team.members.each do |member| %>
    <p>
      <%= member.nickname %> <%= "- капітан" if member.captain? %>
    </p>
  <% end %>

  <br>
  <hr class="short-line" />

  <p>
    <%= link_to "Запросити учасників", new_invitation_path if @team.members.include?(current_user) && current_user.captain? %>
  </p>
  <p>
    <%= link_to "Редагувати команду", edit_team_path(@team) if @team.members.include?(current_user) && current_user.captain? %>
  </p>
  <% if @team.members.include?(current_user) && !current_user.captain? %>
    <br>
    <p><%= link_to "Вийти з команди", url_for("/teams/edit/leave_team"), method: :post %></p>
  <% end %>

  <% if @team.members.include?(current_user) && current_user.captain? %>

    <% @team_requests.each do |team_request| %>
      <% if team_request.user %>
        <p>До команди хоче приєднатись гравець <%= team_request.user.nickname %>
          <em><%= link_to " (прийняти)", accept_team_request_path(team_request.id), method: :post %></em>
          <em><%= link_to " (відмовитись)", reject_team_request_path(team_request.id), method: :post %></em>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <br>
</fieldset>

<fieldset>
  <legend>
    Результати
  </legend>
  <% @results.each_with_index do |result, index| %>
    <p><%= index + 1 %>. Гра <%= link_to result.game.name, game_path(result.game) %> від <%= result.game.starts_at.strftime('%d.%m.%Y') %> : <%= result.place < 0 ? 'Не дійшли до фінішу' : "#{result.place} місце" %></p>
  <% end %>
</fieldset>