<fieldset>
  <legend>
    Моя команда
  </legend>

  <% unless current_user.captain? %>
    <% invitations.each do |invitation| %>
        <% if invitation.to_team %>
          <p>Вас запрошено в команду <%= invitation.to_team.name %>
            <em><%= link_to "(прийняти)", accept_invitation_path(invitation.id), method: :post %></em>
            <em><%= link_to "(відмовитись)", reject_invitation_path(invitation.id), method: :post %></em>
          </p>
        <% end %>
    <% end %>
    <br>
    <p>
      <%= link_to "Вступити до команди", new_team_request_path %>
    </p>
    <br>
<% end %>

  <% if current_user.member_of_any_team? %>

    <p>
      <%=  current_user.captain? ? "Ви - капітан команди" : "Ви входите в склад команди"  %>
      <strong><%= current_user.team.name %></strong>
    </p>

    <p>
      <%=  link_to "Перейти в кімнату команди", team_path(current_user.team)  %>
    </p>

  <% else %>

    <p>
      Ви не входите в склад жодної із команд
    </p>

    <p>
      <%=  link_to "Створити команду", new_team_path  %>
    </p>

    <br>

  <% end %>
</fieldset>