<a name='post-<%= post.id %>'></a>
<div class="container-fluid">
  <div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%> col-md-12'>
    <% if post.pending_review? %>
      <div class='moderation alert'>
        <%= t(".pending_review") %>
        <% if forem_admin_or_moderator?(post.topic.forum) %>
          <% if local_assigns[:mass_moderation] %>
            <%= render "/forem/posts/moderation_tools", :post => post %>
          <% else %>
            <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
              <%= render "/forem/posts/moderation_tools", :post => post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='container-fluid'>
      <div class='row'>
        <div class='username col-md-2 col-6'>
          <% if post.user.is_a?(Forem::NilUser) %>
            <%= t(:deleted) %>
          <% else %>
            <%= link_to_if Forem.user_profile_links, post.user.forem_name, [main_app, post.user] %>
          <% end %>
        </div>

        <div class="col-md-3 col-6">
          <a href='#post-<%= post.id %>'>
            <%= post.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
          </a>
        </div>

        <% if forem_user %>
          <div class='btn-group col-md-5 offset-md-2 col-12'>
            <% if can?(:reply, post.topic) %>
              <% if post.topic.can_be_replied_to? %>
                <%= link_to t('reply', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id), :class => "btn btn-primary btn-xs" %>
                <%= link_to t('quote', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id, :quote => true), :class => "btn btn-success btn-xs" %>
              <% end %>
            <% end %>
            <% if post.owner_or_admin?(forem_user) %>
              <% if can?(:edit_post, post.topic.forum) %>
                <%= link_to t('edit', :scope => 'forem.post'), forem.edit_forum_topic_post_path(post.forum, post.topic, post), :class => "btn btn-info btn-xs" %>
              <% end %>
              <% if can?(:destroy_post, post.topic.forum) %>
                <%= link_to t('delete', :scope => 'forem.topic'), forem.forum_topic_post_path(post.forum, post.topic, post), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger btn-xs" %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="col-md-12">
          <pre><%= forem_format(post.text) %></pre>
        </div>

        <% if post.reply_to %>
          <div class='in-reply-to col-md-12'>
            <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.forem_name}", "#post-#{post.reply_to.id}" %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
