<h2><%= t('.signup_caption') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :nickname, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nickname, autofocus: true, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-sm" %>
    </div>
    <% if @minimum_password_length %>
      <small id="passwordHelp" class="form-text text-muted offset-sm-3">
        (<%= "#{@minimum_password_length} #{t('.character_minimum')}"%> )
      </small>
    <% end %>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.signup'), class: 'btn btn-light' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
