<% if tasks.empty? %>
    <em>Завдань немає</em>
<% else %>
    <% tasks.each do |task| %>
        <fieldset id="task-<%= task.id %>">
          <legend>
            <% if task.team.nil? %>
                <em>Для всіх</em>:
            <% else %>
                <em>Для </em> <strong><%= link_to task.team.name, team_path(task.team) %></strong>:
            <% end %>
            <% unless game.author_finished? %>
              <em>
                <%= link_to "(редагувати)", edit_game_level_task_path(game, level, task) %>
                <%= link_to "(видалити)", game_level_task_path(game, level, task), method: :delete, data: { confirm: 'Ви впевнені?' } %>
              </em>
            <% end %>
          </legend>
          <p>
            <%= task.text.html_safe %>
          </p>
        </fieldset>
    <% end %>
<% end %>