<% unless penalty_hints.empty? %>
    <% penalty_hints.each do |hint| %>
        <fieldset id="penalty-hint-<%= hint.id %>">
          <legend>
            <% if hint.team.nil? %>
                <em>Для всіх</em>:
            <% else %>
                <em>Для </em> <strong><%= link_to hint.team.name, team_path(hint.team) %></strong>:
            <% end %>
            <% unless game.author_finished? %>
              <em>
                <%= link_to "(редагувати)", edit_game_level_penalty_hint_path(game, level, hint) %>
                <%= link_to "(видалити)", game_level_penalty_hint_path(game, level, hint), method: :delete, data: { confirm: 'Ви впевнені?' } %>
                <%= link_to "(скопіювати)", copy_game_level_penalty_hint_path(game, level, hint), method: :post %>
              </em>
            <% end %>
          </legend>
          <p>
            <%= "Назва: #{hint.name}" %>
          </p>
          <p>Підказка:</p>
          <p>
            <%= hint.text.html_safe %>
          </p>
          <p>
            <%= "Штраф: #{seconds_to_string(hint.penalty || 0)}" %>
          </p>
          <% if hint.is_delayed? && (hint.delay_for || 0) > 0 %>
            <p>
              <strong>Обмежити час появи: </strong>
              <%= "на #{seconds_to_string(hint.delay_for || 0)}" %>
            </p>
          <% end %>

        </fieldset>
    <% end %>
<% end %>