<% unless hints.empty? %>
    <% hints.each do |hint| %>
        <fieldset id="hint-<%= hint.id %>">
          <legend>
            <% if hint.team.nil? %>
                <em>Для всіх</em>:
            <% else %>
                <em>Для </em> <strong><%= link_to hint.team.name, team_path(hint.team) %></strong>:
            <% end %>
            <% unless game.author_finished? %>
              <em>
                <%= link_to "(редагувати)", edit_game_level_hint_path(game, level, hint) %>
                <%= link_to "(видалити)", game_level_hint_path(game, level, hint), method: :delete, data: { confirm: 'Ви впевнені?' } %>
                <%= link_to "(скопіювати)", copy_game_level_hint_path(game, level, hint), method: :post %>
              </em>
            <% end %>
          </legend>
          <p>
            <em>Через</em> <strong><%= seconds_to_string(hint.delay || 0) %></strong> <em>:</em>
          </p>
          <p>
            <%= hint.text.html_safe %>
          </p>
        </fieldset>
    <% end %>
<% end %>