<script type="text/javascript">
  jQuery.fn.countdown = function (date, settings) {
    var countdown_settings = {
      lang: {
        years:   ['рік', 'року', 'років'],
        months:  ['місяць', 'місяця', 'місяців'],
        days:    ['день', 'дня', 'днів'],
        hours:   ['година', 'години', 'годин'],
        minutes: ['хвилина', 'хвилини', 'хвилин'],
        seconds: ['секунда', 'секунди', 'секунд'],
        plurar:  function(n) {
          return (n % 10 === 1 && n % 100 !== 11 ? 0 : n % 10 >= 2 && n % 10 <= 4 && (n % 100 < 10 || n % 100 >= 20) ? 1 : 2);
        }
      },
      prefix: "Лишилось: ",
      finish : function() {
        var countdown_element = $('#start-countdown');
        <% if user_signed_in? and current_user.author_of?(game) %>
          countdown_element.css('display', 'none');
          return;
        <% end %>
        <% unless game.finished_teams %>
          countdown_element.css('display', 'none');
          return;
        <% end %>
        <% unless game.levels && game.levels.count > 0 %>
          countdown_element.css('display', 'none');
          return;
        <% end %>
        <% if game.draft? %>
          countdown_element.css('display', 'none');
          return;
        <% end %>
        <% unless team.nil? %>
          <% unless game.game_passings.of_team(team.id).first.nil? %>
            <% if game.game_passings.of_team(team.id).first.finished? %>
              countdown_element.css('display', 'none');
              return;
            <% end %>
          <% end %>
        <% end %>
        <% if game.author_finished? %>
          countdown_element.css('display', 'none');
          return;
        <% end %>
        <% unless team.nil? || game.nil? %>
          <% game_entry = GameEntry.of(team.id, game.id) %>
          countdown_element.css('display', 'none');
          <% if game_entry && game_entry.status == "accepted" %>
            $('#playButton').css('display', 'inline-block');
          <% end %>
        <% end %>

      }
    };
    countdown_settings = jQuery.extend(countdown_settings, settings);

    var timeDifference = function(begin, end) {
      if (end < begin) {
        return false;
      }
      var
      days   = end.getDate()  - begin.getDate(),
      months = end.getMonth() - begin.getMonth(),
      years  = end.getYear()  - begin.getYear(),
      seconds = end.getSeconds()  - begin.getSeconds(),
      minutes = end.getMinutes()  - begin.getMinutes(),
      hours   = end.getHours()  - begin.getHours(),
      date = new Date();
      if (seconds < 0) {
        seconds += 60;
        minutes--;
      }
      if (minutes < 0) {
        minutes += 60;
        hours--;
      }
      if (hours < 0) {
        hours += 24;
        days--;
      }
      if (days < 0) {
        date.setFullYear(begin.getYear(), begin.getMonth(), 32);
        days += 32 - date.getDate();
        months--;
      }
      if (months < 0) {
        months += 12;
        years--;
      }
      var diff = {years: years, months: months, days: days, hours: hours, minutes: minutes, seconds: seconds};
      var result = [];
      for (var i in diff) {
        if (!diff[i]) continue;
        result.push(diff[i] + ' ' + countdown_settings.lang[i][countdown_settings.lang.plurar(diff[i])]);
      }
      return result.join(' ');
    };
    var elem = $(this);
    var timeUpdate = function () {
      var s = timeDifference(new Date(), date);
      if (s.length) {
        elem.html(countdown_settings.prefix + s);
      } else {
        clearInterval(timer);
        countdown_settings.finish();
      }
    };
    timeUpdate();
    var timer = setInterval(timeUpdate, 1000);
  };
</script>
