<% if current_games.count > 0 %>
  <% unless Game.started.empty? %>
    <% current_games.each do |game| %>
      <% unless game.is_testing? || game.draft? %>
        <fieldset class="game-fieldset">
          <legend>
            Поточна гра
          </legend>
          <div id="game-<%= game.id %>">
            <%= render 'shared/current_game', game: game %>
            <% if current_user %>
              <% team = game.team_type == 'multy' ? current_user.team : current_user.single_team %>
              <% if team.nil? || team.finished?(game) || game.created_by?(current_user) %>
                 <em><%= link_to "(результати)", url_for("/game_passings/show_results?game_id=#{game.id}") %></em>
              <% else %>
                <% if game.levels && game.levels.count > 0 %>
                  <%  game_entry = GameEntry.of(team.id, game.id) %>
                  <%= render 'shared/current_games_status', game_entry: game_entry, game: game %>
                <% else %>
                  Гра не містить завдань
                <% end %>
              <% end %>
            <% end %>
            <p class="stat-link"><em><%= link_to "(cтатистика)", url_for("/logs/short/#{game.id}") if game.started? || game.author_finished? %></em></p>
          </div>
        </fieldset>
        <br>
      <% end %>
    <% end %>

  <% end %>
  <br>
<% end %>
