<% if game_entry %>
  <% case game_entry.status %>
  <% when "new" %>
    Заявку подано
    <%= link_to "Відізвати", "/game_entries/recall/#{game_entry.id}", method: :post %>
  <% when "accepted"%> Ви зареєстровані
    <%= link_to "Відмовитись", "/game_entries/cancel/#{game_entry.id}", method: :post unless game.started? %>
  <% when "recalled", "rejected", "canceled", nil %>
    <% if game.max_team_number && game.max_team_number > 0 && game.requested_teams_number >= game.max_team_number %>
      Ви не можете зареєструватися, оскільки перевищено кількість учасників
    <% else %>
      <%= link_to "Подати заявку на реєстрацію знову", "/game_entries/reopen/#{game_entry.id}", method: :post %>
    <% end %>
  <% end %>
<% else %>
  <% if game.max_team_number && game.max_team_number > 0 && game.requested_teams_number >= game.max_team_number %>
    Ви не можете зареєструватися, оскільки перевищено кількість учасників
  <% elsif game.registration_deadline && game.registration_deadline <= Time.now %>
    Ви не можете зареєструватися, оскільки спізнились на гру
  <% else %>
    <%= link_to "Подати заявку на реєстрацію", "/game_entries/new/#{game.id}/#{team.id}", method: :post %>
  <% end %>
<% end %>
