<%= I18n.t('received_reply', :scope => 'forem.topic') %> Ви можете подивитись її тут:

<%= forem.forum_topic_url(@post.topic.forum_id, @post.topic) %>

Щоб відписатися від цієї теми, використайте наступне посилання:
<%= forem.unsubscribe_forum_topic_url(@post.topic.forum, @post.topic) %>
