<a name=<%= "level#{level.position}" %>></a>
<h3>
   <%= "Рівень №#{level.position} \"#{level.name}\"" %>
</h3>

<fieldset>
  <% if (level.complete_later || 0) > 0 %>
    <p>
      <span class="hint-timer">Автозавершення через <%= seconds_to_string(level.complete_later || 0) %></span>
    </p>
    <br>
  <% end %>
  <% if level.olymp? %>
    <p>
      Олімпійка з базою <%= level.olymp_base || 2 %>
    </p>
    <br>
  <% end %>
  <% if level.questions.count > 1 %>
    <p>
      <strong>Умова для проходження:</strong> <%= (level.sectors_for_close || 0) > 0 ? " закрити #{level.sectors_for_close} секторів" : ' закрити всі сектори' %>
    </p>
    <br>
  <% end %>
  <% if level.is_autocomplete_penalty? %>
    <p>
      <strong>Штраф при автозавершенні: </strong> <%= seconds_to_string(level.autocomplete_penalty || 0) %>
    </p>
    <br>
  <% end %>
  <% if level.is_wrong_code_penalty? %>
    <p>
      <strong>Штраф за неіснуючий код: </strong> <%= seconds_to_string(level.wrong_code_penalty || 0) %>
    </p>
    <br>
  <% end %>
  <%= level.text.html_safe unless level.text.nil?%>
  <p>
    <span class="openedlevel">Завдання:</span>
    <%= render 'tasks', tasks: level.tasks %>
  </p>
  <br>
  <% if level.hints.count > 0 %>
    <span class="hint-timer">Підказки:</span>
    <p>
      <%= render 'hints', hints: level.hints %>
    </p>
    <br>
  <% end %>
  <% if level.penalty_hints.count > 0 %>
    <span class="yellow">Штрафні підказки:</span>
    <p>
      <%= render 'penalty_hints', penalty_hints: level.penalty_hints %>
    </p>
    <br>
  <% end %>
  <% if level.bonuses.count > 0 %>
    <span class="bonus">Бонуси:</span>
    <p>
      <%= render 'bonuses', bonuses: level.bonuses %>
    </p>
    <br>
  <% end %>
  <% if level.questions.count > 0 %>
    <span class="right_code">Відповіді:</span>
    <p>
      <%= render 'answers', level: level %>
    </p>
    <br>
<% end %>
  <% unless level.description.nil? || level.description.empty? %>
    <p>
      <strong>Коментар: </strong> <pre class="level_description"><%= level.description %></pre>
    </p>
  <% end %>
</fieldset>