<% games.each do |game| %>
  <p>
    <% if game.author_finished? %>
        <%= link_to "#{game.name}", game_path(game), class: "finished-game" %>
        <%=  "(#{(game.is_testing? ? game.test_date : game.starts_at).strftime('%H:%M %d.%m.%Y')})" %>
    <% else %>
        <%= link_to "#{game.name}", game_path(game), class: "coming-game" %>
        <%=  "(#{(game.is_testing? ? game.test_date : game.starts_at).strftime('%H:%M %d.%m.%Y')})" %>
    <% end %>
    <% if user_signed_in? && current_user.author_of?(game) %>
      <% unless game.author_finished? %>
        <em><%= link_to "(редагувати)", edit_game_path(game) %></em>
      <% end %>
      <em><%= link_to "(статистика)", url_for("/logs/short/#{game.id}") if game.started? && !game.is_testing? %></em>
      <em><%= link_to "(моніторинг)", url_for("/logs/livechannel/#{game.id}") if game.started? && !game.is_testing? || game.author_finished? %></em>
      <em><%= link_to "(лог відповідей)", url_for("/logs/full/#{game.id}") if game.started? && !game.is_testing? || game.author_finished? %></em>
      <em><%= link_to "(результати)", url_for("/game_passings/show_results?game_id=#{game.id}") if game.author_finished? %></em>
      <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <% else %>
      <em><%= link_to "(cтатистика)", url_for("/logs/short/#{game.id}") if game.started? && !game.is_testing? || game.author_finished? %></em>
      <em><%= link_to "(результати)", url_for("/game_passings/show_results?game_id=#{game.id}") if game.author_finished? %></em>
    <% end %>
  </p>
  <br>
<% end %>