<fieldset>
  <legend>
    Беруть участь команди (<%= accepted_game_entries.count %>):
  </legend>

  <% accepted_game_entries.each do |entry| %>
    <p>
      <strong>
        <%= accepted_game_entries.index(entry) + 1 %>. <%= link_to entry.team.name, team_path(entry.team) if user_signed_in? %>
        <%= entry.team.name unless user_signed_in? %>
      </strong>
      <% unless game.author_finished? %>
        <em>
          <%= link_to "(відмінити)", url_for("/game_entries/reaccept/#{entry.id}"), method: :post if user_signed_in? && current_user.author_of?(game) %>
        </em>
      <% end %>
    </p>
  <% end %>
</fieldset>
