<%= render 'shared/current_games', current_games: current_games %>
<%= render 'shared/coming_games', coming_games: coming_games %>
<br>
<%= render 'shared/finished_games', finished_games: finished_games %>

<%#= render 'events_seo' %>
