<h2>
  Гра "<span class="coming-game"><%= @game.name %></span>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Чорновик</div>
<% end %>


<p>
  <em>Автори</em> - <strong><%= (@game.authors.map(&:nickname) + [@game.author.nickname]).uniq.join(', ') %></strong>
</p>

<% if user_signed_in? && (current_user.author_of?(@game) || @game.author_finished?) %>
  <p>
    <em>Сценарiй:</em> <strong><%=link_to "доступний для #{{'all' => 'всіх', 'competitors' => 'учасників гри' }[@game.show_scenario_for]}", show_scenario_game_path(@game) %></strong>
  </p>
<% end %>

<p>
  <%= game_start_date(@game) %>
</p>
<p>
  <% if @game.registration_deadline.nil? %>
    Кінцевий термін реєстрації ще не призначено
  <%  else  %>
    <em>Кінцевий термін реєстрації</em>: <%=  @game.registration_deadline.strftime('%H:%M %d.%m.%Y')  %>
  <%  end %>
</p>

<p>
  <em>Тип команди:</em> <%= {'single' => ' Одиночна', 'multy' => ' Командна' }[@game.team_type] %>
</p>

<p>
  <em>Тип гри:</em> <%= @game.game_size || 'Лайт' %>
</p>

<p>
  <em>Послiдовнiсть проходження:</em> <%= {'linear' => ' Лiнiйна', 'panic' => ' Штурм', 'selected' => ' Лінійна (вказана)' }[@game.game_type] %>
</p>

<% if @game.game_type == 'panic' %>
  <p>
    <em>Тривалiсть гри:</em> <%= seconds_to_string((@game.duration || 0) * 60) %>
  </p>
<% end %>

<p>
  <em>Внесок за участь:</em> <%= " #{@game.price} грн" %>
</p>
<p>
  <em>Місто проведення:</em> <%= " #{@game.city}" %>
</p>
<p>
  <em>Місце старту:</em> <%= " #{@game.place}" %>
</p>

<% unless @topic.nil? %>
  <p>
    <em>Обговорення:</em> <%= link_to " #{@topic.posts.count} повідомлень", forem.forum_topic_path(@topic.forum, @topic) %>
  </p>
<% end %>

<% if current_user && (current_user.captain? || @game.team_type == 'single') %>
    <p><% game_entry = GameEntry.of(@game.team_type == 'multy' ? current_user.team_id : current_user.single_team_id, @game.id)%>
      <%= render 'shared/game_entry_controls', game_entry: game_entry, game: @game, team: @game.team_type == 'multy' ? current_user.team : current_user.single_team %></p>
<% end %>
<br>

<br>
<% if user_signed_in? %>
  <% if (@game.is_testing? ? @game.test_date : @game.starts_at) <= Time.zone.now.strftime("%d.%m.%Y %H:%M:%S.%L").to_time && !@game.author_finished? %>
    <div id="playButton"><%= link_to "Вхід у гру", url_for("/play/#{@game.id}") %></div>
  <% else %>
    <div id="playButton" style="display: none;"><%= link_to "Вхід у гру", url_for("/play/#{@game.id}") %></div>
  <% end %>
<% end %>
<br>
<%= render 'shared/countdown', game: @game, team: @team %>
<div id="start-countdown"></div>
<br>

<p><%= link_to "Cтатистика", url_for("/logs/short/#{@game.id}") if @game.started? && !@game.is_testing? %></p>
<% if @game.started? && !@game.is_testing? %>
  <% if user_signed_in? && current_user.author_of?(@game) %>
    <p><%= link_to "Моніторинг", url_for("/logs/livechannel/#{@game.id}")%></p>
    <p><%= link_to "Лог відповідей", url_for("/logs/full/#{@game.id}")%></p>
    <p><%= link_to "Результати", url_for("/game_passings/show_results?game_id=#{@game.id}") %></p>
  <% else %>
    <p><%= link_to "Результати", url_for("/game_passings/show_results?game_id=#{@game.id}") %></p>
  <% end %>
<% end %>

<p>
  <em>Опис:</em>
</p>
<p>
  <%= @game.description.html_safe %>
</p>

<p>
  <em>Максимальна кількість команд:</em>
</p>
<p>
  <% if @game.max_team_number.equal?(10000) || @game.max_team_number.equal?(0) || @game.max_team_number.nil? %>
    Необмежено
    <% @game.max_team_number = 10000 %>
  <% else %>
    <%= @game.max_team_number %>
  <% end %>
</p>

<br>

<% if user_signed_in? && current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Завдання:
    </legend>

    <p>
      <%= render 'levels/list', levels: @game.levels, game: @game  %>
    </p>

    <p>
      <%= link_to "Додати нове завдання", new_game_level_path(@game) unless @game.author_finished?%>
    </p>
  </fieldset>
  <br>
<% end %>      

<%= render 'game_entries', game_entries: @game_entries  %>
<br>
<%= render 'teams', accepted_game_entries: @accepted_game_entries, game: @game %>
<br>

<% if user_signed_in? && current_user.author_of?(@game) && !@game.author_finished? %>
  <p>
    <%= link_to "Редагувати дану гру", edit_game_path(@game) %>
  </p>
  <br>
<% end %>

<% if @game.game_type == 'selected' && @teams_for_test.count > 0 && !@game.author_finished? %>
  <p><%= link_to 'Задати порядок проходження', url_for("/games/#{@game.id}/new_level_order") %></p>
<% end %>
<script type="text/javascript">
  <% unless @game.starts_at.nil? %>
    var seconds_to_game = <%= ((@game.is_testing? ? @game.test_date : @game.starts_at) - Time.zone.now.strftime("%d.%m.%Y %H:%M:%S.%L").to_time + 1) %>;
    var dateObj = Date.now();
    dateObj += 1000 * seconds_to_game;
    var date = new Date(dateObj);
  <% end %>

  $("#start-countdown").countdown(date, {
    prefix:'До початку лишилось: '
  });
</script>

<% if user_signed_in? && current_user.author_of?(@game) && !@game.started? && !@game.is_testing? && @game.levels && @game.levels.count > 0 %>

    <% if game_with_personal? || @game.game_type == 'selected' %>
        <%= form_tag start_test_game_path(@game), method: :post do %>
            <%= label_tag "Почати тестування для команди" %>
            <%= select_tag(:team_id, options_for_select(@teams_for_test.map{ |team| [team.name, team.id] })) %>
            <%= submit_tag "Старт" %>
        <% end %>
    <% else %>
        <%= link_to 'Почати тестування', start_test_game_path(@game), method: :post %>
    <% end %>

<% end %>

<% if user_signed_in? && current_user.author_of?(@game) && @game.is_testing? %>
   <%= link_to "Старт", url_for("/play/#{@game.id}") %>
   <br>
   <%= link_to "Завершити тестування", finish_test_game_path(@game), method: :post %>
<% end %>

<% if user_signed_in? && current_user.author_of?(@game) %>
  <br>
  <%= "Ви завершили гру" if (@game.started? && !@game.is_testing? && @game.author_finished?) %>
  <br>
  <br>
  <br>
  <%= link_to "ЗАКРИТИ ГРУ", end_game_game_path(@game), method: :post, data: { confirm: 'Ви впевнені?' } if (@game.started? && !@game.is_testing? && !@game.author_finished?) %>
  <%= link_to "ВІДКРИТИ ГРУ", open_game_game_path(@game), method: :post, data: { confirm: 'Ви впевнені?' } if @game.author_finished? %>
  <br>
  <br>
  <br>
  <br>
  <p>
    <%= link_to "Видалити дану гру", @game, method: :delete, data: { confirm: 'Ви впевнені?' } unless @game.started? || @game.author_finished? %>
  </p>
<% end %>
