<h2><%= t('.login_caption') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
  <div class="form-label-group">
    <%= f.email_field :email, class: "form-control", placeholder: 'Email', required: true, autofocus: true %>
    <%= f.label :email %>
  </div>
  <div class="form-label-group">
    <%= f.password_field :password, class: "form-control", placeholder: 'Password', required: true %>
    <%= f.label :password %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %>
        Запам'ятати мене
      </label>
    </div>
  <% end %>
  <%= f.submit t('.login'), class: 'btn btn-sm btn-light btn-block' %>
<% end %>

<%= render "devise/shared/links" %>
