<h2>
  Рівень "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(гра "<%= link_to @level.game.name, game_path(@level.game) %>")</em>
</p>

<br>

<%= form_for @level, url: game_level_path(@level.game, @level) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'form', f: f, questions_count: @level.questions.count %>
  <%= f.submit "Зберегти", class: 'btn btn-light' %>
  <em><%= link_to "(відмінити)", game_level_path(@level.game, @level) %></em>
<% end %>
