/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'forem/base'
 *= require forem-bootstrap
 *= require_self
 */

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    /* background-color: #fff; */
    background-color: #171717;
    color: #CCC;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #333333;
}

.forum #description {
    display: block;
    margin: 10px 0;
    padding: 5px;
    background: #101010;
}

#header-container {
    width: 100%;
    color: #CCC;
}

#header-container span {
    float: right;
    padding-right: 10px;
    color: #CCC;
}

#header-container h1, #header-container h2 {
    margin-left: 6px;
    margin-bottom: 6px;
}

#header {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family:  Verdana,Arial,Helvetica,sans-serif;
    display: flex;
    justify-content: space-between;
}

.home-link {
    font-size: 18px;
    font-style:  normal;
    /*color: navy;*/
    color: white;
    text-decoration: underline;
}

#topic .moderation {
    background: #545454;
}

.new_post textarea {
    width: 50%;
    min-height: 250px;
    background-color: #454545;
}

.post {
    border: 1px solid #dedede;
    margin-bottom: 0;
    border-radius: 5px;
    min-height: 70px;
}

.post .container-fluid {
    border-left: none;
    padding-left: 0;
    padding-bottom: 0;
    min-height: inherit;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: normal;
    word-wrap: break-word;
    color: #CCC;
    background-color: #232323;
    border: none;
    white-space: pre-wrap;
}

.logo {
    width: 64px;
    float: left;
}

.logo img {
    width: 64px;
}

.contacts {
    float: right;
    margin-left: 10px;
}

hr {
    border: 0;
    color: #ccc;
    background-color: #cdcdcd;
    height: 1px;
    width: 100%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

#forums_container, #admin_link, .forum, #topic {
    margin: 0 10px;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
