body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    /*background-color: #fff;*/
    background-color: #171717;
    color: #CCC;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: 100%;
    margin-bottom: 1px;
}

#header-container {
    width: 100%;
    color: #CCC;
}

#header-container span {
    float: right;
    padding-right: 10px;
    color: #CCC;
}

#header-container h1, #header-container h2 {
    margin-left: 6px;
    margin-bottom: 6px;
}

hr {
    border: 0;
    color: #ccc;
    background-color: #cdcdcd;
    height: 1px;
    width: 100%;
    text-align: left;
}

h1 {
    font-size: 28px;
    color: #c55;
    /*background-color: #fff;*/
    font-family: Arial, Verdana, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 15px;
    color: #999;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 300;
    /*background-color: #fff;*/
}

h3 {
    color: #4d9b12;
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    padding: 5px;
    margin-top: 5px;
}

#left-container h3 {
    color: #c55;
}

p {
    line-height: 20px;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    /*background-color: #fff;*/
    color: white;
    text-decoration: underline;
}

#left {
    float: left;
    font-size: 100%;
    margin-top: 5px;
    /*color: #999;*/
    /*background-color: #fff;*/
    background-color: #171717;
    color: #BBB;

}

#main-container ul {
    margin-left: 3.0em;
}

.error {
    border: solid red 1px;
}

#header {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family:  Verdana,Arial,Helvetica,sans-serif;
    display: flex;
    justify-content: space-between;
}

.home-link {
    font-size: 18px;    
    font-style:  normal;
    /*color: navy;*/
    color: white;
    text-decoration: underline;
}
.is-draft-message {
    color: red;
    font-weight:bold;
    font-size:25px;
}

fieldset {
    border: solid 1px #ccc;
    padding: 5px;
    color: #ccc;
}

fieldset legend {  
    font-weight: bold;
    color: #CCC;
    font-size: 0.75rem;
    width: auto;
    margin-bottom: 0;
}

hr#short-line {
    width:150px;
}

label {
    float: left;
    /*width: 120px;*/
    font-weight: bold;
}

/*.edit_level label, .new_level label {*/
    /*width: 150px;*/
/*}*/

.edit_level .radio, .new_level .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.edit_level .radio + label, .new_level .radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.edit_level .radio + label:before, .new_level .radio + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.edit_level .radio:checked + label:after, .new_level .radio:checked + label:after {
    opacity: 1;
}

.edit_level .radio + label:after, .new_level .radio + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5897fb;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}

.edit_level #sectors_for_close_1, .new_level #sectors_for_close_1 {
    /*width: 40px;*/
}

.edit_level > p:nth-child(8) > label:nth-child(6), .new_level > p:nth-child(7) > label:nth-child(6) {
    width: 50px;
}

input, textarea {  
    margin-bottom: 5px;
    background-color: #232323;
    color: #CCC;
}

select {
    background-color: #232323;
    color: #CCC;
}

textarea {
    width: 350px;
    height: 100px;
}

#submit {
    margin-left: 120px;
    margin-top: 5px;
}

.wrong_code, .openedlevel {
    color: red;
}

.closedlevel {
    color: gray;
}

#LevelCompleteCountdownContainer, .hint-timer, #start-countdown, #panic-countdown {
    color: #ff570a;
    font-weight: bold
}

.bonus {
    color: #33ccff;
    font-weight: bold
}

.right_code, .bonus-answered, .timeout-stat {
    color: #8F0;
    font-weight: bold
}

.bonus-missed {
    color: #999;
    font-weight: normal;
}

.bonus-delay-timer {
    color: #999;
    font-style: italic;
}

@media (max-width: 800px) {
    #left-container {
        background-color: #171717;
        color: #CCC;
        margin-left: 5px;
        margin-right: 5px;
    }

    #main-container {
        margin: 5px 5px 5px 0;
        padding: 0;
        min-height: 400px;
    }

    #main {
        margin-left: 5px;
        color: #CCC;
    }


    #left-game-container {
        background-color: #171717;
        color: #CCC;
        margin-left: 10px;
    }

    #main-game-container {
        margin: 5px 5px 5px 5px;
        padding: 0;
        min-height: 400px;
    }

    #entered-codes {
        width: 300px;
        max-height: 700px;
        overflow-y: scroll;
        display: none;
    }

    .partner-block {
        display: block;
    }

    .partner-block > div {
        display: inline-block;
        /*width: 100%;*/
    }

    .partner-logo {
        width: 40%;
        float: left;
        margin: 0 5%;
    }

    .partner-logo img {
        width: 100%;
        max-width: 140px;
    }
}

@media (min-width: 801px) {
    #left-container {
        float: left;
        width: 150px;
        background-color: #171717;
        color: #CCC;
        margin-left: 10px;
    }

    #main {
        margin-left: 10px;
        color: #CCC;
    }

    #main-container {
        margin: 5px 5px 5px 170px;
        padding: 0;
        border-left: 1px solid silver;
        min-height: 400px;
    }

    #left-game-container {
        float: left;
        width: 300px;
        background-color: #171717;
        color: #CCC;
        margin-left: 10px;
    }

    #main-game-container {
        margin: 5px 5px 5px 320px;
        padding: 0;
        min-height: 400px;
    }

    #entered-codes {
        width: 300px;
        max-height: 700px;
        overflow-y: scroll;
    }

    .partner-logo {
        width: 153px;
        float: left;
    }

    .partner-logo img {
        width: 140px;
    }

}

.notice {
    color: green;
}

.alert {
    color: red;
    padding: 0;
    margin: 0;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

table {
    border-collapse: collapse;
}

td {
    white-space: nowrap;
    color: white;
}

#results td, #results th {
    padding: 5px;
}

#stats thead {
    color: white;
}

#stats td {
    width: 1px;
    height: 1px;
}

#stats .stat-std {
    background-color: #333132;
}

#stats th {
    background-color: #272727;
}

#updateButton, #statButton, #playButton {
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-radius: 8px;
    display: inline-block;
    margin: 0 10px;
}

/*.level-move {*/
/*    margin: 0 10px;*/
/*}*/

.finished-game {
    text-decoration: line-through;
}

a.coming-game, .coming-game {
    color: #ff570a;
    font-weight: bold
}

.olymp td {
    padding: 2px 10px;
}

#livechannel td {
    padding: 0 5px;
}

div.team-stat{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: inherit;
}

.olymp-cell label {
    width: 75px;
}

.olymp-cell .code-field {
    width: 100px;
}

.olymp-cell .bonus-field {
    width: 50px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(30,30,30,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5);
}

.logo {
    width: 64px;
    float: left;
}

.logo img {
    width: 64px;
}

.partner-block p {
    text-align: center;
}

.contacts {
    float: right;
    margin-left: 10px;
}

#in_game img, #main img {
    max-width: 100%;
}

.game-fieldset {
    background-color: #212121;
    border-radius: 5px;
}

.stat-link {
    margin-left: 16px;
}

.form-control {
    background-color: #232323;
    color: #ccc;
}

.form-control:focus {
    background-color: #313131;
    color: #ccc;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #373737;
    opacity: 1;
}

.page-link {
    color: white;
    background-color: #232323;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: white;
    text-decoration: none;
    background-color: #414141;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: #414141;
    border-color: #ccc;
}

.time-form-label {
    margin-left: 5px;
    margin-right: 5px;
}

.custom-control-label {
    margin-top: 6px;
}

#level_sectors_for_close {
    width: 80px;
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

div.dismissed-level {
    background-color: black;
    color: white;
}

.level-checkbox {
    margin-left: 5px;
    margin-right: 5px;
}

.author_message {
    color: #2ECC40;
}

.level_description {
    color: orange;
}

#levels .list-group-item {
    background-color: #222;
    border: solid 1px #777;
    margin: 1px 0;
}