<% levels_count = @levels.count %>
<h1>Статистика гри "<%= link_to @game.name, game_path(@game) %>"</h1>

<table id="stats" border="1">
  <thead>
    <tr align="center">
      <th></th>
      <% @levels.each do |level| %>
        <th>
          <%= "#{level.position}: #{level.name} #{level.dismissed? ? '(рівень знято)' : ''}" %>
        </th>
      <% end %>
      <th>Фінішний час</th>
      <th>Результат</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.count.times do |pos| %>
      <tr valign="top">
        <td align="center" valign="middle" class="stat-std"><%= pos + 1 %></td>
        <% @levels.each do |level| %>
          <% log = @level_logs[level.position - 1][pos] %>
          <td align="center" class="stat-std">
            <% unless log[:log].nil? %>
              <% if @game.starts_at < DateTime.new(2018, 7, 5, 0, 0, 0) %>
                <div class="team-stat <%= level.dismissed? ? 'dismissed-level' : '' %>" data-id=<%= log[:log].team_id %> onclick="toggle(<%= log[:log].team_id %>)">
                  <p class="team-name"><%= log[:log].team %></p>
                  <p>(<%= log[:log].user.nil? ? '' : log[:log].user.nickname %>)</p>
                  <p><%= log[:log].time.strftime('%d.%m.%Y') %></p>
                  <p><%= log[:log].time.strftime('%H:%M:%S.%L') %></p>
                  <% unless log[:result].nil? %>
                    <p>(<%= log[:result].strftime('%H:%M:%S.%L') %>)</p>
                  <% end %>
                  <% if log[:log].answer == 'timeout' %>
                    <p class="timeout-stat">таймаут</p>
                  <% end %>
                  <% if log[:bonus] != 0 %>
                    <p><%= "#{(log[:bonus] || 0) > 0 ? 'Бонус:' : 'Штраф:'} #{seconds_to_string((log[:bonus] || 0).abs)}" %></p>
                  <% end %>
                </div>
              <% else %>
                <div class="team-stat <%= level.dismissed? ? 'dismissed-level' : '' %>" data-id=<%= log[:log].team_id %> onclick="toggle(<%= log[:log].team_id %>)">
                  <p class="team-name"><%= log[:team].name %></p>
                  <p>(<%= log[:log].user.nil? ? '' : log[:log].user.nickname %>)</p>
                  <p><%= log[:log].closed_at.strftime('%d.%m.%Y') %></p>
                  <p><%= log[:log].closed_at.strftime('%H:%M:%S.%L') %></p>
                  <% unless log[:result].nil? %>
                    <p>(<%= log[:result].strftime('%H:%M:%S.%L') %>)</p>
                  <% end %>
                  <% if log[:log].timeouted %>
                      <p class="timeout-stat">таймаут</p>
                  <% end %>
                  <% if log[:bonus] != 0 %>
                    <p><%= "#{(log[:bonus] || 0) > 0 ? 'Бонус:' : 'Штраф:'} #{seconds_to_string((log[:bonus] || 0).abs)}" %></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <% log = @level_logs[levels_count][pos] %>
        <!--{ team: result.team, levels: result.closed_levels.count, bonuses: result.sum_bonuses, time: result.finished_at || result.current_level_entered_at }-->
        <td align="center" class="stat-std">
          <div class="team-stat" data-id=<%= log[:team].id %> onclick="toggle(<%= log[:team].id %>)">
            <p class="team-name"><%= log[:team].name %>(<%= log[:levels] %>)</p>
            <p><%= log[:time].strftime('%d.%m.%Y') %></p>
            <p><%= log[:time].strftime('%H:%M:%S.%L') %></p>
            <% if (log[:bonuses] || 0) != 0 %>
                <p><%= "#{(log[:bonuses] || 0) > 0 ? 'Бонус:' : 'Штраф:'} #{seconds_to_string((log[:bonuses] || 0).abs)}" %></p>
            <% end %>
          </div>
        </td>
        <% log1 = @level_logs[levels_count + 1][pos] %>
        <td align="center" class="stat-std">
          <div class="team-stat" data-id=<%= log1[:team].id %> onclick="toggle(<%= log1[:team].id %>)">
            <p class="team-name"><%= log1[:team].name %>(<%= log1[:levels] %>)</p>
            <p><%= log1[:time].strftime('%d.%m.%Y') %></p>
            <p><%= log1[:time].strftime('%H:%M:%S.%L') %></p>
          </div>
        </td>
        <td align="center" valign="middle" class="stat-std"><%= pos + 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var color_index = 0;

  function toggle(team) {
      var team_cells = $('.team-stat[data-id="' + team + '"]').parent();
      if (team_cells.hasClass('colored')) {
          team_cells.removeClass().addClass("stat-std");
      } else {
          team_cells.removeClass().addClass("colored stat-" + color_index);
          color_index += 1;
          if (color_index == 14) color_index =0;
      }
  }
</script>
