<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= @page_title || "【 Квести Луцьк 】 ᐈ QUEST.wtf" %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="keywords" content="квест, автоквест, автоквесты, велоквесты, пешеходный квест, автоквести, велоквести, пішохідний квест, онлайн квест, велоквест, адреналин, адреналін, драйв, экстрим, екстрім, риск, игра, игры, ризик, гра, ігри, интеллект, quest, autoquest, lutsk, Луцьк">
    <meta name="robots" content="<%= @page_content || "noindex,nofollow" %>">
    <meta name="googlebot" content="<%= @page_content || "noindex,nofollow" %>">
    <meta name="description" content="<%= @page_description || "❰❰❰ QUEST Луцьк ❱❱❱ це: ➔ цікаві логічні завдання від кращих авторів Луцька, ➔ захоплюючі пошуки, ➔ драйв та адреналін, ➔ неймовірні пригоди та яскраві емоції, ➔ новий формат інтелектуально-активного відпочинку! ➤ Якщо ти рухаєш мізками та дупою швидше ніж твоя бабуся, ПРИЄДНУЙСЯ 【 Квест 🔍 Луцьк 】" %>" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tinymce_assets %>
    <%= (@seo_block || '').html_safe %>
  </head>
  <body>
    <br>
    <div id="header-container">
      <div id="header">        
        <%= render 'layouts/header' %>
      </div>
    </div>
    <hr>
    
    <div id="left-container">
      <div class="left">        
        <%= render 'layouts/left_menu' %>
      </div>
    </div>

    <div id="main-container">
      <div id="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>