<!DOCTYPE html>
<html>
  <head>
    <title>Форуми quest.wtf</title>
    <%= stylesheet_link_tag    'forem_lay', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'forem', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
    <meta name="robots" content="nofollow,noindex" />
  </head>
  <body>
    <br>
    <div id="header-container">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <hr>
    <% flash.each do |k,v| %>
        <div class='flash <%= k %>'><%= v %></div>
    <% end %>
    <%= yield %>
  </body>
</html>